---
pagination:
  enabled: true
---
<!DOCTYPE html>
<html lang="ko">
<head>
    {%- include head.html -%}
</head>
<body>
    <nav>
        {%- include nav.html -%}
    </nav>
    <section>
        <div class="me">
            <div class="name"><h3>KI HWAN</h3></div>
            <div class="comment">
                <h4>사소한 것부터 소중한 것까지 모두 기록하는 블로그에요.</h4>
            </div>
        </div>
        <hr>
        <div class="me">
            <div class="name"><h5>카테고리</h5></div>
            <ul>
            {% for category in site.categories %}
            {% capture category_name %}{{ category | first }}{% endcapture %}
            <li class="categories"><a href="/category/{{category_name}}">{{category_name}}</a></li>
            {% endfor %}
            </ul>
        </div>
        <hr>
        <h2 style="margin-top: 2rem;">최신 글</h2>
        <!-- Recent Posts -->
        {% for post in paginator.posts %}
            <div class="preview-container">
                <div class="post-title">
                <a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
                </div>
                <div class="post-date">{{ post.date | date: "%Y년 %-m월 %-d일"}}</div>
            </div>
            <hr>    
        {% endfor %}


        <!-- Pagination links -->
        <div class="pagination">
            <ul>
                    <!-- 전 페이지 -->
                    {% if paginator.previous_page != nil %}
                    <li >
                        <a  href="{{ paginator.previous_page_path | prepend: site.baseurl }}">{{ paginator.previous_page }}</a>
                    </li>
                    {% endif %}
                    <!-- 현재 페이지 -->
                    <li >
                        <a class="selected" href="{{ post.url | prepend: site.baseurl }}">{{ paginator.page }}</a>
                    </li>
                    <!-- 다음 페이지 -->
                    {% if paginator.next_page != nil %}
                    <li >
                        <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">{{ paginator.next_page }}</a>
                    </li>
                    {% endif %}
                    
            </ul>
        </div>
    </section>
    <footer>
        {%- include footer.html -%}
    </footer>
</body>
</html>