.post__wrapper {
    width: 20rem;
    margin: 1rem;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 16px 0px;
    background-color: white;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    // -moz-transform: translateZ(0);
    // -ms-transform: translateZ(0);
    // -o-transform: translateZ(0);
    // transform: translateZ(0);
    // -webkit-transform: translateZ(0);
    -webkit-transform:translate3d(0,0,0);
    transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    will-change: scroll-position;

    img {
        -webkit-transform: translate3d(0,0,0);
    }
    
    &:hover {
        transform: translate(0, -1rem);
        -webkit-transform: translate(0, -1rem);
        -moz-transform: translate(0, -1rem);
        -ms-transform: translate(0, -1rem);
        -o-transform: translate(0, -1rem);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 16px 0px;
    }
}

.post__info {
    padding: 1rem;
    flex: 1 1 100%;
}

.title {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 0.25rem;
    font-weight: bold;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    word-break: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
}

.description p {
    font-size: 0.875rem;
    color: rgb(73, 80, 87);
    line-height: 1.5;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    height: 3.9375rem;
    font-size: 0.875rem;
    display: -webkit-box;
    word-break: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
    margin-bottom: 1.5rem;
}

.date {
    font-size: 0.75rem;
    line-height: 1.5;
    color: rgb(134, 142, 150);
}

.post__thumbnail {
    padding-top: 52.1912%;
    width: 100%;
    position: relative;
    display: block;

    img {
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


/* 2개 */
@media only screen and (max-width: 1056px) {
    .post__wrapper {
        width: calc(50% - 2rem);
    }
}

/* 1개 */
@media only screen and (max-width: 768px) {
    .post__wrapper {
        width: calc(100% - 2rem);
    }
}