.tag__wrapper {
    display: inline-flex;
    margin: 1rem;
    width: 20rem;
    border-radius: 4px;
    background: url('https://static.luce.today/tags.jpg') repeat 0 0 fixed;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 16px 0px;
    transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
    will-change: auto;
    overflow: hidden;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px 0px;
    }
}

.tag__info {
    width: 100%;
    backdrop-filter: blur(4px);
    padding: 1rem 1rem .5rem;
    color: rgb(220, 225, 220)
}

.title__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    font-size: 1.15rem;
    font-weight: bold;
    color: rgb(220, 225, 220);

    a:hover{
        color: #52acac;
        text-decoration: underline;
    }
}

.desc__log {
    font-size: .8rem;
    font-weight: 600;
}

/* 2개 */
@media only screen and (max-width: 1056px) {
    .tag__wrapper {
        width: calc(50% - 2rem);
    }
}

/* 2개 */
@media only screen and (max-width: 768px) {
    .title__wrapper {
        font-size: 1rem;
    }
}

