@import "syntax.css";

:root {
        /* 2020년 트렌드 컬러 : 클래식 블루 */
        --trend_color: #0F4C81;
        --baby_blue_color: rgb(148, 166, 179);
        --peach_color: #F5B895;
        --skin_color: #F3D5AD;
}

::selection {
        color: aliceblue;
        background-color: var(--trend_color);
}

* {
        font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        line-height: 2;
}

.lineno {
        text-align: center;
        /* padding-left: 0.4rem; */
        /* padding-right: 0.4rem; */
        color: var(--skin_color);
}

.highlight {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
        border-radius: 0.2rem;
        /* box-shadow: 0px 0px 5px 1px rgba(0,20,87,0.45); */
}

.highlight span{
        padding-left: 0.1rem;
}


/* nav */
#hide-menu {
        visibility: hidden;
        list-style: none;
        text-align: center;
        border-radius: 0.2rem;
        background-color: rgba(255, 255,255,0.8);
        height:auto;
        padding:0.5rem 2rem 0.5rem 2rem;
        border:0px;
        position: relative;
        top: 0.5rem;
        right: 8rem;
        width:16rem;
        z-index:0;
        box-shadow: 0px 1px 3px 0px rgba(0,20,87,0.45);
}

#hide-menu a:not(:last-child) li {
        border-bottom: 2px solid var(--trend_color);
}

#hide-menu li {
        font-size: 1.2rem;
        line-height: 3rem;
        padding: 0.5rem;
        color: var(--trend_color);
}

#hide-menu li:hover {
        text-decoration: underline;
}

#hide-menu a {
        text-decoration: none;
}


.wrapper {
        position: fixed;
        width: 100%;
        top: 0px;
        background-color: var(--trend_color);
        box-shadow: 0px 6px 19px -7px rgba(3,32,59,1);
        height: 4rem;
        display: grid;
        grid-template-columns: 3fr 2fr;
}


.wrapper .blog-brand a {
        text-decoration: none;
        color:whitesmoke;
        font-size: 2rem;
        padding-left: 20%;
}


.wrapper .menu {
        grid-column-start: 2;
        grid-column-end: 2;
        width: 40px;
        justify-self: right;
        justify-items: center;
        padding-right: 40%;
        /* margin-bottom: 0.3rem; */
}

#navbar {
        top:0;
        transition: top 0.2s;
}


/* section */
section {
        margin: 6rem 0rem;
}

section > h2, .me .name h5 {
        margin: 0rem 0rem;
        text-align: center;
        color: var(--baby_blue_color);
        font-size: 3rem;
}

.cover {
        position: relative;
        display: block;
        height: 10rem;
        width: 100%;
        background-color: rgba(0,0,0,0.8);
        z-index: 5;

}
.cover img {
        max-height: 100%;
        position: relative;
        z-index: 7;
        width: 100%;
}

.me .name h5 {
        color: var(--baby_blue_color);
        margin: 0;
        padding: 0;
}

.opa {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.7);                                                                 
       z-index:1;
}

.preview-container {
        display: grid;
        grid-template-columns: 3fr 1fr;
        
        padding: 5% 20% 3% 20%;
}

.preview-container .post-title{
        font-size: 1.5rem;
}

.preview-container .post-title:hover{
        text-decoration: underline;
}


.preview-container a{
        color: var(--trend_color);
        text-decoration: none;
}


.preview-container .post-date {
        padding-top: 1rem;
        color: var(--baby_blue_color);
        font-size: 1.2rem;
}

.pagination {
        width: 100%;
        margin: 2rem 0rem;
        display: grid;
        justify-content: center;
}

.pagination ul {
        display: grid;
        column-gap: 0.1rem;
        width: 6rem;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        list-style: none;
}

.pagination ul li {
        text-align: center;
        box-shadow: 0px 1px 3px 0px rgba(0,20,87,0.45);
}


.pagination ul .selected {
        background-color: var(--trend_color);
        padding: 0.6rem 1.1rem;
        color: white;
        border-radius: 0.2rem;
        font-size: 1.1rem;
}

.pagination ul li a {
        vertical-align: middle;
        padding: 0.4rem 1rem;
        color: var(--trend_color);
        text-decoration: none;
}

.me {
        padding: 3% 20% 2% 20%;
        color: var(--trend_color);
}


.me .name {
        padding-bottom: 3%;
        font-size: 3.2rem;
}

.me .comment {
        color: var(--baby_blue_color);
        padding-bottom: 2%;
        font-size: 1.5rem;
}

.me  ul {
        text-align: center;
}

.categories {
        display: inline;
        padding: 0.5rem 1rem 0.5rem 1rem;
        margin: 1rem;
        border-radius: 0.3rem;
        font-weight: bold;
        background-color: var(--skin_color);
}

.categories a{
        color: var(--trend_color);
        text-decoration: none;
}

.categories a:hover{
        text-decoration: underline;
}

/* article */
.post code.highlighter-rouge {
        padding: 0.0rem 0.3rem 0.0rem 0.3rem;
        color: white;
        border-radius: 0.2rem;
        background-color: rgba(104, 155, 192, 0.8);
        opacity: 0.8;
}

.post {
        margin: 3rem auto 3rem auto;
        width: 80%;
        min-width: 380px;
        font-size: 1rem;
}

.post p img { 
        display: block;
        max-width: 100%; 
        height: auto; 
        box-shadow: 0px 3px 10px 1px rgba(0,20,87,0.3);
        margin: 1rem auto;
}


li {counter-increment: li;}


.post ol {list-style: none; counter-reset: li;}
.post ol li::before {content: counter(li); color: var(--trend_color);
        display: inline-block; width: 1em; margin-left: -1.5em;
        margin-right: 0.5em; text-align: right; direction: rtl;
        padding:0.2rem 0.5rem 0.2rem 0rem;
        font-size: 1.4rem;
}



.post ol li {
        padding-left: 3rem;
}

.post hr {
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 100%;
}

.post h2 {
        font-size: 2rem;
        color:black;
        margin-top: 2rem;
}

.post blockquote {
        border-left: 3px solid var(--trend_color);
        font-size: larger;
        font-style: italic;
        color: rgba(32, 38, 35, 0.8);
        padding-left: 1rem;
        background-color: rgba(72, 78, 95, 0.2);
        margin: 1rem 0;
}

.post p{
        padding: 0.3rem;
        line-height: 2rem;
}


/* footer */
footer {
        padding-top: 5rem;
        padding-bottom: 8rem;
        background-color: var(--trend_color);
        line-height: 100%;
        text-align: center;
        color: aliceblue;
        font-size: 1.1rem;
        box-shadow: 0px -1px 15px -7px rgba(3,32,59,1);
}

hr {
        margin-left: auto;
        margin-right: auto;
        width: 64%;
        border-top: solid;
        border-left: none;
        border-right: none;
        border-bottom: none;
        border-width: 0.2rem;
        border-color: var(--baby_blue_color);
}


/* id */
#footer-icons {
        padding-bottom: 10rem;
        padding-top: 2rem;
        max-height: 15rem;
}

.menu-icon {
        margin-top: 1rem;
        cursor:pointer;
        fill: aliceblue;
}

.menu-icon:hover {
        transform: scale(1.1);
        transition: ease 0.2s;
}

#footer-icons ul li{
        display: inline;
        margin-left: 1rem;
}

#footer-icons ul {
        padding-bottom: 2rem;
}

.email-icon {
        fill: aliceblue;
}

.email-icon:hover {
        cursor: pointer;
        fill: green;
}


.github-icon{
        background-repeat: no-repeat;
        background-size: 2rem;
        height: 2rem;
        width: 2rem;

        fill: aliceblue;
}

.github-icon:hover {
        fill: var(--peach_color);
}

/* 포스트 */
article {
        margin-left: auto;
        margin-right: auto;

        width: 80%;
        min-width: 380px;
        font-size: 1.1rem;
}

/* 제목 */
article h2 {
        font-size: 3rem;
        text-align: center;
        padding-bottom: 1rem;
        color: var(--trend_color);
}


/* 카테고리 */
article ul li {
        display: inline;
        padding: 5px;
        list-style: none;
        font-weight: bolder;
        color:var(--trend_color);
}

article ul li:hover {
        text-decoration: underline;
}

article > hr {
        width: 100%;
}

article .post-wrapper {
        padding-top: 1rem;
        background-color: white;
        box-shadow: none;
        text-align: center;
}

.post-wrapper .date {
        display: inline;
        text-align: left;
        color:grey
}

.post-wrapper .category {
        padding-left: 1rem;
        display: inline;
}

.date svg {
        fill:grey;
}


.category svg {
        fill:grey;
}

.category ul {
        display: inline-block;
}

.category ul a{
        text-decoration: none;
}

/* 404 */
.page404 {
        padding-top: 5rem;
        padding-bottom: 5rem;
        text-align: center;
        color: var(--trend_color);
}
