
.wrapper {
    margin-top: 2rem;
}

.posts__wrapper {
    margin: -1rem;
    display: flex;
    flex-wrap: wrap;
    word-break: keep-all;
    text-overflow: ellipsis;
    margin-bottom: 12rem;
}

@media only screen and (max-width:768px) {
    .posts__wrapper{
        margin-bottom: 3rem;
    }
} 

