---
layout: main
---
{% assign category = page.category | default:page.title %}

<h2>{{ category | capitalize}}</h2>
<ul>
    {% for post in site.categories[category] %}
        <li>
            <div class="preview-container">
                <div class="post-title">
                <h2><a href="{{ site.baseurl }}{{post.url}}">{{post.title}}</a></h2>
                </div>
                <div class="post-date">{{post.date | date:"%Y년 %-m월 %-d일"}}</div>
            </div>
            <hr>
        </li>
    {% endfor %}
</ul>