.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    hr {
        height: 1px;
        width: 100%;
        border: none;
        margin: 0px;
        overflow: hidden;
    }
    
    div {
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 0.9rem;
    }
}