.header_fixed {
    display: flex;
    position: fixed;
    height: 4rem;
    width: 100%;
    align-items: center;
    transition: margin-top 0.02s linear, box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
    background: white;
    z-index: 1;
}

.header {
    display: flex;
    height: 4rem;
    width: 100%;
    align-items: center;
    background-color: rgb(248, 249, 250);
    transition: margin-top 0.02s linear;
}
