.header_fixed {
    display: flex;
    width: 100%;
    position: fixed;
    // transition: margin-top 30ms linear, box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
    background: white;
    z-index: 1;
    color: rgb(104, 112, 120);
}

.header {
    display: flex;
    height: 8.5rem;
    width: 100%;
    align-items: center;
    background-color: rgb(248, 249, 250);
    transition: margin-top 0.02s linear;
}

.logo__wrapper {
    display: flex;
    align-items: center;
    height: 4rem;
    width: 100%;
}


.active {
    color: rgb(34, 36, 40);
    font-weight: 500;
}

.inactive:hover {
    color: rgb(80, 82, 90);
    transform: translate(0, -5px);
}

.categories__wrapper {
    display: flex;
    position: relative;
    margin-top: 1.5rem;
    width: max-content;

    a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 7rem;
        height: 3rem;
        line-height: 1.5;
        font-size: 1.125rem;
        transition: color .1s ease-in-out, transform .1s ease-in-out;
    }

    span {
        display: block;
        position: absolute;
        height: 2px;
        bottom: 0px;
        background: rgb(34, 36, 40);
        transition: left 0.6s cubic-bezier(.34,.48,.47,1.4), width 0.3s linear;
    }
}



@media only screen and (max-width: 1024px) {
    .header {
        height: 8rem;
    }

    .categories__wrapper {
        margin-top: 1rem;
    
        a {
            font-size: 1rem;
        }
    }
}

@media only screen and (max-width: 768px) {
    .header {
        height: 7rem;
    }

    .categories__wrapper {
        margin-top: 0rem;

        a {
            width: 5rem;
        }
    }
    .desktop {
        visibility: hidden;
    }
}

@media only screen and (min-width: 769px){
    .mobile {
        visibility: hidden;
    }
}



// LOGO_BRAND

.logo {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    margin: auto;
    background-color: #21d4fd;
    background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    box-shadow: 15px 15px 50px rgba(0,0,0,0.2);
    animation: morphing 10s infinite;
    overflow: hidden;
    color: white;
    &:hover {
        animation-play-state: paused;
    }

}

// @-moz-keyframes morphing {
//     0% {
//       border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
//       box-shadow: 15px 15px 50px rgba(0,0,0,0.2);
//     }
//     25% {
//       border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
//     }
//     50% {
//       border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
//       box-shadow: -10px -5px 50px rgba(0,0,0,0.2);
//     }
//     75% {
//       border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
//     }
// }

// @-webkit-keyframes morphing {
//     0% {
//       border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
//       box-shadow: 15px 15px 50px rgba(0,0,0,0.2);
//     }
//     25% {
//       border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
//     }
//     50% {
//       border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
//       box-shadow: -10px -5px 50px rgba(0,0,0,0.2);
//     }
//     75% {
//       border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
//     }
// }

// @-o-keyframes morphing {
//     0% {
//       border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
//       box-shadow: 15px 15px 50px rgba(0,0,0,0.2);
//     }
//     25% {
//       border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
//     }
//     50% {
//       border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
//       box-shadow: -10px -5px 50px rgba(0,0,0,0.2);
//     }
//     75% {
//       border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
//     }
// }

@keyframes morphing {
    0% {
        border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
        box-shadow: 15px 15px 50px rgba(0,0,0,0.2);
    }
    25% {
        border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
    }
    50% {
        border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
        box-shadow: -10px -5px 50px rgba(0,0,0,0.2);
    }
    75% {
      border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
    }
}
  
